[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
sysinfo.txt

# Rider
.idea/
*.sln
*.csproj
*.unityproj
*.pidb
*.user
*.booproj
*.svd

# VS Code
.vscode/

# Unity Cache
*.unitypackage